/* AnimalSounds.css */
.animal-sounds {
    text-align: center;
  }
  
  .animal-sounds img {
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
  
  .animal-sounds p {
    font-size: 16px;
    color: #333;
  }
  